.main{
    background-color: var(--cinza1);
}
.section1{
    height: 85vh;
    background-image: url('../img/100493-656497720_small.mp4');
    background-position: center;
    background-size: 650px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: white;
    padding: 20px;
}
.section1 video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.section1__texto1{
    margin: 50px 0px;
    text-align: center;
}
.section1__texto1 h2{
    font-size: 1.8em;
    letter-spacing: 3px;
    font-family: var(--font3);
    
}
.fa-arrow-down{
    rotate: 270deg;
}
.section1__texto1 p{
    font-size: 1em;
    font-family: var(--font7);
    letter-spacing: 3px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.section1__texto2{
    text-align: center;
    background-color: var(--color3);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.section1__texto2 p{
    font-size: 1.2em;
    font-family: var(--font8);
    
    line-height: 25px;
}
.section1__whatszapp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.section1__logo-texto{
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translate(-10px);
    font-size: 1.1em;
}
.section1__logo-whatszapp{
    display: flex;
    
}
.section1__logo-whatszapp i{
    color: green;
    font-size: 140%;
}
.section1__texto3{
    text-align: center;
}
.section1__texto3 h3{
    margin-bottom: 5px;
    font-family: var(--font2);
}
.section1__logo-whatszapp p{
    font-family: var(--font4);
    font-weight: bolder;
    text-decoration: underline;
    background-color: #1e501e;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    width: 70%;
    font-size: 1em;
}
.button-whatszapp{
    padding: 20px;
    background-image: linear-gradient(45deg, rgb(0, 255, 0), rgb(52, 255, 52), rgb(104, 255, 104));
    border-radius: 10px;
    color: whitesmoke;
    text-decoration: none;
    font-family: var(--font2);
    cursor: pointer;
}
.button-whatszapp:hover{
    background-image: linear-gradient(45deg, rgb(2, 91, 2), rgb(15, 89, 15), rgb(42, 91, 42));
}
.button-whatszapp:active{
    background-image: linear-gradient(45deg, rgb(0, 255, 0), rgb(52, 255, 52), rgb(104, 255, 104));
}


.section2{
    color: white;
    padding: 10px;
}
.section2 h2{
    font-family: var(--font5);
    font-size: 2em;
    margin: 10px 2px;
    text-align: center;
}
.section2__servicos{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.servicos__carrossel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.servicos__carrossel button{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: var(--font1);
    font-size: 1.1em;
    position: relative;
    cursor: pointer;
}
.servicos__carrossel button::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}
.servicos__carrossel button.ativo::after{
    width: 100%;
}
.servicos{
    text-align: start;
    margin-left: 20px;
    position: relative;
    margin-bottom: 100px;
}
.servicos h3{
    color: var(--color4);
    font-family: var(--font7);
    margin-bottom: 10px;
    
}
.servicos p{
    font-family: var(--font1);
    font-size: 1.1em;
    letter-spacing: 1px;
    
}

.servico1, .servico2{
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.6s ease, transform 0.6s ease;
    pointer-events: none;
    position: absolute;
    
}
.servico1.ativo, .servico2.ativo{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.section3{
    margin-top: 100px;
    color: white;
    padding: 20px;
}
.section3 h2{
    text-align: center;
    margin-bottom: 25px;
    font-family: var(--font5);
    font-size: 2em;
}
.section3 details{
    padding: 10px;
}
.section3 details summary{
    font-family: var(--font4);
    font-size: 1.3em;
    cursor: pointer;
}
.section3 details p{
    padding: 20px;
    font-family: var(--font1);
    font-size: 1em;
    letter-spacing: 1px;
}
.section3__texto3{
    font-family: var(--font1);
    font-size: 0.9em;
}
.section3__texto3 ul{
    padding: 20px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section4{
    padding: 15px;
    color: white;
    margin-bottom: 40px;
}
.section4 h2{
    font-family: var(--font5);
    font-size: 2em;
    margin: 10px 2px;
    text-align: center;
}
.section4__texto1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.section4__texto1 p{
    font-size: 1.1em;
    font-family: var(--font1);
}
@media screen and (min-width: 768px) {
    .section1{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .servicos__carrossel button{
        font-size: 1.4em;
    }
    .servicos__carrossel span{
        display: block;
    }
    
}
@media screen and (min-width: 992px) {
    .section3{
        text-align: center;

    }
}