.nav{
    background-color: var(--cinza2);
    padding: 10px;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 9999;
}
.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.menu-list__item{
    width: 100%;
    text-align: center;
    padding: 5px;
}
.menu-list__link{
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--font2);
    color: var(--color4);
}
.menu-list__link:hover{
    color: var(--color1);
}
.menu-list__item:hover{
    background-color: rgb(43, 43, 43);
    
}