@import url('./header.css');
@import url('./nav.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./privacidade.css');


@font-face {
    font-family: "Tech1";
    src: url(../fonts/Conthrax-SemiBold.otf) format("OpenType");
}
@font-face {
    font-family: "Tech2";
    src: url(../fonts/Ethnocentric-Regular.otf) format("OpenType");
}
@font-face {
    font-family: "Tech3";
    src: url(../fonts/Gameplay.ttf) format("TrueType");
}
@font-face{
    font-family: "Comic";
    src: url(../fonts/Hey\ Comic.ttf) format("TrueType");
}


:root{
    --color1: cyan;
    --color2: rgb(6, 107, 154);
    --color3:  rgba(137, 246, 246, 0.4);
    --color4: rgb(0, 149, 255);
    --color5: rgb(24, 70, 102);

    --cinza1: rgb(27, 27, 27);
    --cinza2: rgb(54, 54, 54);

    --font1: "Montserrat", sans-serif;
    --font2: "Cascadia Code", sans-serif;
    --font3: "VT323", sans-serif;
    --font4: "Doto", sans-serif;
    --font5: "Tech1", sans-serif;
    --font6: "Tech2", sans-serif;
    --font7: "Tech3", sans-serif;
    --font8: "Comic", sans-serif;
}
body{
    background-color: var(--cinza1);
}
html{
    scroll-behavior: smooth;
}
#servicos {
  scroll-margin-top: 120px;
}